* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

.divTotal {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px;
  background: white;
}

.page_apr {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.enfeiteTela {
  top: 0;
  width: 100%;
  height: 29%;
  border-radius: 0 0 65px 65px;
  background-color: #0AABBA;
  position: absolute;
  margin-top: 0;
  z-index: 1;
}

.question-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 3;
  top: 30px; 
}

.question-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #0AABBA;
  border: 8px solid white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 100%;
}

p#counter {
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.question-timer > p {
  font-weight: bold;
  font-size: 16px;
}

.divPai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.div#page_apr.page_apr {
  width: 100%;
}

.divPergunta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 45px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 60px;
  gap: 20px;
}

.divDescricaoImagem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 220px;
}

.textDesc {
  width: 700px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.divImagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 350px;
  width: 350px;
}

.textTema {
  color: black;
}

.textRespostaCorreta {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divAlternativas {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textAlternativa {
  width: 100%;
  outline: none;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 24px;
  text-align: center;
  font-weight: bold;  
  text-align: left;
  padding: 30px;
}

.buttons-container {
  width: 100%;
  height: 50px;
}

.botaoAvancar {
  border: none;
  color: #0AABBA;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  margin-top: 20px;
}

.botaoAvancar:hover {
  color: #0896a3;
}

footer {
  width: 100%;
}

.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}